---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import IconGitHub from '../components/IconGitHub.astro';
import IconMedium from '../components/IconMedium.astro';
import IconLinkedIn from '../components/IconLinkedIn.astro';
---

<Layout title="Welcome to Astro.">
	<header>
	<object id="waving" type="image/svg+xml" data="/capable-disk/waving.svg"></object>
	<object id="greeting" type="image/svg+xml" data="/capable-disk/greeting.svg"></object>
</header>
		<main>
			<h1>I'm Sam</h1>
			<div id="socials">
				<a href='https://github.com/sheeshee'><IconGitHub/></a>
				<a href='https://medium.com/samsheehy'><IconMedium/></a>
				<a href='https://linkedin.com/in/samuel-sheehy'><IconLinkedIn/></a>
			</div>
			<p>I live in Wales and write code as a job. I'm a <em>learn-a-bit-about-alot</em> sort of person, and I want the things I make to feel like magic ✨</p>
	<h2>My latest thing</h2>
	<Card title="Codename" body="I like GitHub’s repo name generator, but I wanted something that worked locally." />
	<h3>See more things</h3>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 0 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		width: fit-content;
		padding-top: 1rem;
	}
	#waving {
		width: 100px;
		padding-bottom: 5px;
		position: relative;
		left: 20px;
		color: red;
	}
	#greeting {
		width: 300px;
	}
	svg {
		color: #000042;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 15px;
	}
	#socials {
		margin: 0 auto 10px;
		width: fit-content;
	}

</style>
