---
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import Card from '../components/Card.astro';
import Socials from '../components/Socials.astro';
---

<Layout title="Welcome to Astro.">
	<header>
	<object id="waving" type="image/svg+xml" data="/capable-disk/waving.svg"></object>
	<object id="greeting" type="image/svg+xml" data="/capable-disk/greeting.svg"></object>
</header>
		<Main>
			<h1>I'm Sam</h1>
			<Socials/>	
			<p>I live in Wales and write code as a job. I'm a <em>learn-a-bit-about-alot</em> sort of person, and I want the things I make to feel like magic ✨</p>
	<h2>My latest thing</h2>
	<Card icon='github' href='https://github.com/sheeshee/codename' title="Codename" body="I like GitHub’s repo name generator, but I wanted something that worked locally." />
	<h3><a href='/capable-disk/projects'>See more things</a>✨</h3>
	</Main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 0 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		width: fit-content;
		padding-top: 1rem;
	}
	#waving {
		width: 100px;
		padding-bottom: 5px;
		position: relative;
		left: 20px;
	}
	#greeting {
		width: 300px;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 15px;
	}
	a {
		color: #000042;
	}
	
</style>
