---
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import Card from '../components/Card.astro';
---
<Layout title='Projects & Things'>
	<h1>Projects & Things</h1>
	<Card title="This Webiste" body="it was time to make a new webiste"/>
</Layout>

